body {
  background-image: url("../img/yellowbrickbg.jpg");
  background-size: cover;
}

.divider {
  width: 5px;
  display: inline-block;
  height: auto;
}

.button {
  width: 15px;
}

#wizimg {
  height: 50%;
  width: 50%;
}
