body {
  background-image: url("../img/yellowbrickbg.jpg");
  background-size: cover;
}

.divider {
  width: 5px;
  display: inline-block;
  height: auto;
}

.button {
  width: 15px;
}

@media screen and (min-width: 500px) {
  #wizimg {
    height: 75%;
    width: 75%;
  }
}
